.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }
}

.category {

  &__photos {
    @include page-grid;

    margin-bottom: 16px;
    margin-top: 56px;
  }

  &__link {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 130px;
    height: 130px;

    object-fit: cover;

    @include hover(transform, scale(1.1));

    @include on-tablet {
      width: 288px;
      height: 184px;
    }

    @include on-desktop {
      width: 498px;
      height: 324px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}

.categories__button {
  margin-top: 56px;

  @include page-grid;
}

.categories__button-item {
  grid-column: 1/-1;
  height: 56px;
  background-color: #f98921;

  display: flex;
  justify-content: center;

  align-items: center;
  border-radius: 8px;

  transition-property: all;
  transition-duration: 0.3s;

  @include on-tablet {
    grid-column: 1/-1;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &:hover {
    background-color: #1b2129;
  }

  &:active {
    background-color: #010810;
  }

  &-text {
    text-decoration: none;
    color: #fff;
  }
}
