.how-to-buy {
  @include page-grid;

  position: relative;
  z-index: 0;
  padding-block: 80px;

  &__title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin: 0;
    line-height: 140%;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4/7;
    }

    @include on-desktop {
      grid-column: 8/13;
    }
  }
}

.footer__background {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 460px;

  background-image: url(/images/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.how-to-buy::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 350px;

  background-color: #fcfaef;

  z-index: -1;
}
