/* #region icon */
.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(/images/icons/icon-phone.svg);
    position: relative;
    cursor: pointer;
  }

  &--menu {
    background-image: url(/images/icons/icon-burger-menu.svg);
    &:hover {
      transform: scale(1.2);
      background-image: url(/images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/images/icons/icon-close.svg);
  }
}

.icon--phone::after {
  content: "+1 234 5555-55-55";

  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%) translateX(10px);
  opacity: 0;

  white-space: nowrap;
  pointer-events: none;

  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;

  color: #1B2129;
  text-decoration: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.icon--phone:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}



/* #endregion */
