.main {
  background-color: white;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}

.no-gap-group {
  /* this lives inside .main__content grid as one item */
  display: block; // or flex if you want more control
}

/* make sure these two are glued together */
.footer__background {
  margin: 0;
  padding: 0;
}

.how-to-buy {
  margin: 0;
  padding-top: 0; // if you want it touching the footer background
}
